* {
    all: unset;
    transition: 100ms;
    margin: 0.1rem 0;
}

@font-face {
    font-family: Monaspace Xenon;
    src: url('../fonts/MonaspaceXenon-Regular.woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    font-family: Monaspace Xenon;
    font-weight: 800;
    font-size: 20pt;
    color: lightyellow;
}

body {
    background-color: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-row {
    background-color: #161616;
    padding: 1rem;
    border-radius: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    min-width: 20rem;
    cursor: pointer;
}

.social-row:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: #242424;
}

.social-icon {
    max-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    width: 100%;
}

.social-text {
    flex: 1;
}

#welcome {
    display: flex;
    flex-direction: column;
}

#profile-image {
    max-height: 15rem;
    max-width: 15rem;
    border-radius: 50%;
    overflow: hidden;
}

#profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
