@font-face {
    font-family: cubit;
    src: url('../fonts/cubit.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    all: unset;
    transition: 100ms;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
    box-sizing: border-box;
}

:root {
    font-family: cubit;
    font-weight: 400;
    font-size: 22px;
}

body {
    color: lightyellow;
    background: url("../images/background.png") no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.social-row {
    background-color: #161616;
    padding: 0.5rem;
    margin: 0.5rem 0;
    display: flex;
    border: solid 1px black;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    min-width: 20rem;
    cursor: pointer;
}

.social-row:hover {
    cursor: pointer;
    border-color: green;
    transform: scale(1.1);
    background-color: #242424;
}

.social-icon {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    height: 100%;
}

.social-text {
    flex: 1;
}

#welcome {
    display: flex;
    flex-direction: column;
}

#profile-image {
    max-height: 15rem;
    max-width: 15rem;
    border-radius: 50%;
    overflow: hidden;
}

#profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

aside * {
    margin: 1rem 0;
}

#latest_video_embed {
    max-width: 20rem;
    aspect-ratio: 16/9;
    border-radius: 15px;
}

@media only screen and (max-width: 640px) {
    body {
        flex-direction: column;
    }

    :root {
        font-size: 22px;
    }
}
