name: Fetch latest video

on:
  workflow_dispatch: 
  push:
    branches: [ "gh-pages" ]

jobs:
  fetch:
    environment: youtube-api
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Fetch latest video
      shell: bash
      run: |
        curl 'https://www.googleapis.com/youtube/v3/playlistItems?playlistId=UU4U1e34boXZ7cjYjqzf9osw&part=contentDetails&maxResults=1&sort=date&key=${{ secrets.YOUTUBE_API_KEY }}' | jq '.items[0].contentDetails.videoId' -r > LATEST_VIDEO_ID
    - name: Update branch
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add LATEST_VIDEO_ID
        git diff --quiet && git diff --staged --quiet || (git commit -m "Update latest video ID: $(cat LATEST_VIDEO_ID)" && git push)
