@font-face {
    font-family: cubit;
    src: url('../fonts/cubit.ttf');
    font-weight: 400;
    font-style: normal;
}

title {
    display: none;
}

* {
    all: unset;
    transition: 100ms;
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
    box-sizing: border-box;
}

:root {
    font-family: cubit;
    font-weight: 400;
    font-size: 22px;
}

html {
    background-color: #000000;
}

body {
    color: lightyellow;
    background: url("../images/background.png") no-repeat center top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1;

    justify-content: center;
    align-items: center;
}

#socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.social-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    width: 100%;
    position: relative;
}

.hand {
    flex: 1;
    display: none;
    position: absolute;
    left: -64px;
    width: auto;
    height: 100%;
}

.hand img {
    height: 100%;
}

.social-button {
    background-color: #161616;
    padding: 0.5rem;
    display: flex;
    border: solid 1px black;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    cursor: pointer;
}

.gay-text {
    text-shadow: 0 0 4px red;
    background: linear-gradient(90deg, red, white);
    background-clip: text;
    color: transparent;
}

.hottest-text {
    display: inline-flex;
    margin: 0;
}

.hottest-text > * {
    margin: 0;
    animation: text-float 1s infinite ease-in-out alternate;
    animation-delay: calc(var(--index) * 0.1s);
    transform: translateY(-10px);
}

.hottest-text > *:nth-child(1) { --index: 1; }
.hottest-text > *:nth-child(2) { --index: 2; }
.hottest-text > *:nth-child(3) { --index: 3; }
.hottest-text > *:nth-child(4) { --index: 4; }
.hottest-text > *:nth-child(5) { --index: 5; }
.hottest-text > *:nth-child(6) { --index: 6; }
.hottest-text > *:nth-child(7) { --index: 7; }
.hottest-text > *:nth-child(8) { --index: 8; }
.hottest-text > *:nth-child(9) { --index: 9; }

@keyframes text-float {
0% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(10px);
}
}

.social-button:hover {
    cursor: pointer;
    border-color: green;
    background-color: #242424;
}

.social-row:has(a:hover) .hand {
    display: block;
}

.social-icon {
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img {
    height: 100%;
}

.social-text {
    flex: 1;
}

#welcome {
    display: flex;
    flex-direction: column;
}

#profile-image {
    max-height: 15rem;
    max-width: 15rem;
    border-radius: 50%;
    overflow: hidden;
}

#profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

aside * {
    margin: 1rem 0;
}

#latest_video_embed {
    max-width: 20rem;
    aspect-ratio: 16/9;
    border-radius: 15px;
}

@media only screen and (max-width: 640px) {
    body {
        flex-direction: column;
    }

    :root {
        font-size: 22px;
    }
}

.hovered {
    display: none;
}

#interactive-gif:has(:hover) .hovered {
    display: block;
}

#interactive-gif:has(:hover) .unhovered {
    display: none;
}
