<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="res/styles/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <aside> 
            <div id="welcome">
                <div>you wouldn't leave me here to starve, would you?</div>
                <div id="profile-image">
                    <img src="res/images/profile.webp">
                </div>
                <span>trying to make a living off soulless content</span>
            </div>

        </aside>
        <main>
            <div id="socials">
                {{#social}}
                <a class="social-row" target="_blank" href="{{url}}">
                    <div class="social-icon"><img src="{{icon_url}}"></div>
                    <span class="social-text">{{page}} - {{site}}</span>
                </a>
                {{/social}}
            </div>
        </main>
    </body>
</html>
