<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="res/styles/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <main>
            <div id="welcome">
                <div>Welcome.</div>
                <div>
                    <img src="res/images/picture.jpeg">
                </div>
                <span>I write software! - Who I am does not matter.</span>
            </div>

            <div id="socials">
                {{#social}}
                <a target="_blank" class="social" href="{{url}}">
                    <img src="{{icon_url}}">
                </a>
                {{/social}}
            </div>
        </main>
    </body>
</html>
